fastapi
uvicorn
python-dotenv
requests
beautifulsoup4
langchain
langchain-classic
langchain-core
langchain-text-splitters
langchain-openai
openai>=1.0.0
langchain-community
langchain-huggingface
sentence-transformers
faiss-cpu
tiktoken
